.Scroll-up {
  position: fixed; 
  bottom: 30px;
  right: 40px; 
  background-color: #fff;
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  border-radius: 30%;
  z-index: 1000;
  opacity: 0.8;
}

.Scroll-up:hover {
  background-color: #E06C7E;
  color: #fff;
}

.scroll-arrow-icon {
  font-size: 1.5rem;
}

@media (max-width: 860px){
  .Scroll-up {
    right: 20px;
    width: 80px;
    height: 90px;
  }
}
@media (max-width: 431px){
  .Scroll-up {
    right: 20px;
    width: 60px;
    height: 80px;
  }
}
